{% load static %}
<!DOCTYPE html>
<html lang="es" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block meta_title %}{{ APP_NAME }} · {{ APP_SLOGAN }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Herramientas administrativas internas.{% endblock %}" />

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-prefers-dark/css/bulma-prefers-dark.min.css">-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Bulma is included -->
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    {% block extra_styles %}{% endblock %}
</head>
<body>
<div id="app">
  <!-- top bar -->
  <nav id="navbar-main" class="navbar is-fixed-top">
    {% include "core/_header.html" %}
  </nav>

  <!-- aside bar -->
  <aside class="aside is-placed-left is-expanded">
    <div class="aside-tools">
      <div class="aside-tools-label">
        <span><b>{{ APP_NAME }}</b> Messaging</span>
      </div>
    </div>
    <div class="menu is-menu-main">
        {% include "core/_navbar.html" with current_page=current_page|default:'home' %}
    </div>
  </aside>

  <!-- main content -->
  {% block content %}{% endblock %}
  <footer class="footer">
    <div class="container-fluid">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            © 2025, Federico Teiserskis
          </div>
          <div class="level-item">
            <a href="https://github.com/rusoftware" style="height: 20px">
              <img src="https://img.shields.io/github/v/release/vikdiesel/admin-one-bulma-dashboard?color=%23999">
            </a>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <div class="logo">
              <a href="#"><i class="mdi mdi-arch"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<div id="sample-modal" class="modal">
  <div class="modal-background jb-modal-close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Confirm action</p>
      <button class="delete jb-modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p>This will permanently delete <b>Some Object</b></p>
      <p>This is sample modal</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button jb-modal-close">Cancel</button>
      <button class="button is-danger jb-modal-close">Delete</button>
    </footer>
  </div>
  <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
</div>

<!-- Scripts below are for demo only -->
<!-- <script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="js/chart.sample.min.js"></script> -->

<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/7.4.47/css/materialdesignicons.min.css">

<script src="{% static 'js/main.js' %}"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
