{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block meta_title %}{{ APP_NAME }} · {{ APP_SLOGAN }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Herramientas administrativas internas.{% endblock %}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    {% include "core/_header.html" %}
    {% include "core/_navbar.html" with current_page=current_page|default:'home' %}
    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
