{% extends "core/base.html" %}

{% block meta_title %}{{ APP_NAME }} · 📢 Campañas{% endblock %}
{% block meta_description %}Probador de envíos de mensajes para herramientas internas.{% endblock %}

{% block content %}
{% load custom_filters %}
<section class="section is-title-bar">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <ul>
          <li>Admin</li>
          <li>Campañas</li>
        </ul>
      </div>
    </div>
    <!-- <div class="level-right">
      <div class="level-item">
        <div class="buttons is-right">
          <a href="#" target="_blank" class="button is-primary">
            <span class="icon"><i class="mdi mdi-github-circle"></i></span>
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div> -->
  </div>
</section>
<section class="hero is-hero-bar">
  <div class="hero-body">
    <div class="level">
      <div class="level-left">
        <div class="level-item"><h1 class="title">
          Campañas
        </h1></div>
      </div>
    </div>
  </div>
</section>

<!-- MAIN CONTENT -->
<section class="section is-main-section">
  <div class="card has-table has-mobile-sort-spaced">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-bullhorn-outline"></i></span>
        Campañas
      </p>
    </header>
    <div class="card-content">
      <div class="b-table has-pagination">
        <div class="table-wrapper has-mobile-cards">
          <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Creada</th>
                <th class="has-text-right">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for campaign in campaigns %}
                {% if campaign|is_campaign_editable %}
                  <tr>
                {% else %}
                  <tr class="has-text-grey">
                {% endif %}

                <td>{{ campaign.name }}</td>
                <td>{{ campaign.get_send_type_display }}</td>
                <td>{{ campaign.get_status_display }}</td>
                <td>{{ campaign.created_at|date:"Y-m-d H:i" }}</td>
                <td class="has-text-right">
                  {% if campaign|is_campaign_editable %}
                    <a href="{% url 'campaign_edit' campaign.pk %}#campaignForm" class="button is-small is-info" title="Editar">
                      <span class="icon is-small"><i class="mdi mdi-pencil"></i></span>
                    </a>

                    <form method="post" action="{% url 'campaign_delete' campaign.pk %}" style="display: inline;">
                      {% csrf_token %}
                      <button type="button" title="Borrar" class="button is-small is-danger" onclick="openDeleteModal(this.form)">
                        <span class="icon is-small"><i class="mdi mdi-delete"></i></span>
                      </button>
                    </form>

                    <a href="{% url 'campaign_send' %}?campaign={{ campaign.pk }}" class="button is-small is-primary" title="Enviar">
                      <span class="icon is-small"><i class="mdi mdi-send"></i></span>
                    </a>
                  {% else %}
                    <span class="tag is-success is-light" style="margin-right: 4px;">
                      ✅ {{ campaign.success_count|default:"0" }}
                    </span>/
                    <span class="tag is-danger is-light">
                      {{ campaign.error_count|default:"0" }} ❌
                    </span>
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr><td colspan="4">No hay campañas.</td></tr>
            {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th colspan="5" class="has-text-right">
                  total: {{ campaigns|length }}
                </th>
              </tr> 
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <hr>
  <!-- Agregar/Editar Campaña -->
  {% if form.non_field_errors %}
  <div class="notification is-danger" id="errorMessage">
      <button class="delete" onclick="this.parentElement.style.display='none';"></button>
      <ul>
      {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
      {% endfor %}
      </ul>
  </div>
  {% endif %}

  <div class="card" id="campaignForm">
    <header class="card-header">
      <p class="card-header-title">
        {% if editing %}
          <span class="icon"><i class="mdi mdi-pencil-outline"></i></span>
          Editando campaña: {{ campaign_editing.name }}
        {% else %}
          <span class="icon"><i class="mdi mdi-plus"></i></span>
          Nueva Campaña de Whatsapp
        {% endif %}
      </p>
    </header>
    <div class="card-content">
      <div class="columns is-centered">
        <div class="column is-three-quarters">

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  {% if field.field.widget|classname == "Select" %}
                  <div class="select is-fullwidth">
                    {{ field }}
                  </div>
                  {% else %}
                    {{ field }}
                  {% endif %}
                </div>
                {% if field.errors %}
                  <p class="help is-danger">{{ field.errors|striptags }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        
        <hr>
        
        <div class="field is-fullwidth">
          <div class="control">
            <button type="submit" class="button is-primary">{% if editing %}Guardar cambios{% else %}Crear campaña{% endif %}</button>
          </div>
        </div>
        {% if editing %}
          <a href="{% url 'campaign_list' %}" style="margin-left: 1em;">❌ Cancelar</a>
        {% endif %}
      </form>
      </div>
      <div class="column is-one-quarter">
        <div class="notification is-info">
          <p class="title is-4">¿Cómo funciona?</p>
          <p class="subtitle is-6">Crea campañas para enviar mensajes a grupos de contactos.</p>
          <ul>
            <li>Selecciona un grupo de contactos.</li>
            <li>Revisa el contenido del mensaje.</li>
            <li>Envía la campaña y revisa el progreso en tiempo real.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- MODAL -->
<!-- TODO: hacer el modal reutilizable -->
<div id="confirm-delete-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">¿Confirmar borrado?</p>
      <button class="delete" aria-label="close" onclick="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      ¿Seguro que querés borrar esta campaña?
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" id="confirm-delete-btn">Sí, borrar</button>
      <button class="button" onclick="closeModal()">Cancelar</button>
    </footer>
  </div>
</div>
<!-- END MODAL-->

{% endblock %}
{% block extra_scripts %}
<script>
  // Disable MEDIA fields if campaign type = TEXT
  document.addEventListener('DOMContentLoaded', function () {
    const sendTypeSelect = document.querySelector('#id_send_type');
    const mediaFileInput = document.querySelector('#id_media_file');
    const mediaUrlInput = document.querySelector('#id_media_url');
    const mediaFileName = document.querySelector('#id_filename');
    const mediaFields = [mediaFileInput, mediaUrlInput, mediaFileName];

    function toggleMediaFields() {
      if (sendTypeSelect.value === 'media') {
        mediaFields.forEach(field => {
          field.disabled = false;
        });
      } else {
        mediaFields.forEach(field => {
          field.disabled = true;
        });
      }
    }

    sendTypeSelect.addEventListener('change', toggleMediaFields);
    toggleMediaFields(); // Initial call to set the state
  });

  // Close modal when clicking outside or on the close button
  document.querySelectorAll('.modal-background, .modal-close, .jb-modal-close').forEach(el => {
    el.addEventListener('click', function() {
      this.closest('.modal').classList.remove('is-active');
    });
  });

  // Delete Campaign Modal functionality
  let deleteFormToSubmit = null;

  function openDeleteModal(form) {
    deleteFormToSubmit = form;
    document.getElementById('confirm-delete-modal').classList.add('is-active');
  }

  function closeModal() {
    document.getElementById('confirm-delete-modal').classList.remove('is-active');
    deleteFormToSubmit = null;
  }

  document.getElementById('confirm-delete-btn').addEventListener('click', function () {
    if (deleteFormToSubmit) deleteFormToSubmit.submit();
  });
</script>
{% endblock %}