{% extends "core/base.html" %}

{% block meta_title %}🧪 Herramientas de prueba{% endblock %}
{% block meta_description %}Probador de envíos de mensajes para herramientas internas.{% endblock %}

{% block content %}
    <h1>Contactos</h1>
    <h2>Grupo: </h2>
    <form method="get" style="display:inline;">
        <select name="group" onchange="this.form.submit()">
            {% for group in groups %}
                <option value="{{ group.id }}" {% if group.id == selected_group.id %}selected{% endif %}>
                    {{ group.name }}
                </option>
            {% endfor %}
        </select>
    </form>
    

    <table class="table is-striped is-hoverable is-fullwidth">
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Activo</th>
            <th>Text 1</th>
            <th>Texto 2</th>
            <th>Texto 3</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.phone }}</td>
            <td>
                <form method="post" action="{% url 'toggle_contact' contact.pk %}">
                    {% csrf_token %}
                    <button type="submit">
                        {% if contact.active %}🟢 Activo{% else %}🔴 Inactivo{% endif %}
                    </button>
                </form>
            </td>
            <td>{{ contact.text_1 }}</td>
            <td>{{ contact.text_2 }}</td>
            <td>{{ contact.text_3 }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <h2>Cargar contactos manualmente</h2>
    <form method="post">
        {% csrf_token %}
        {{ form_text.as_p }}
        <button type="submit" class="button is-primary">Cargar texto</button>
    </form>

    <h2>Subir archivo CSV</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_csv.as_p }}
        <button type="submit" class="button is-primary">Cargar CSV</button>
    </form>
{% endblock %}