{% extends "core/base.html" %}

{% block meta_title %}{{ APP_NAME }} · 📡 Instancias{% endblock %}
{% block meta_description %}Probador de envíos de mensajes para herramientas internas.{% endblock %}

{% block content %}
  <h1>📡 Instancias</h1>
    <table class="table is-striped is-hoverable is-fullwidth">
        <tr>
            <th>Description</th>
            <th>API URL</th>
            <th>API Key</th>
            <th>Instance Name</th>
            <th>Status</th>
        </tr>
        {% for instance in instances %}
        <tr>
            <td>{{ instance.description }}</td>
            <td>{{ instance.api_url }}</td>
            <td>{{ instance.api_key }}</td>
            <td>{{ instance.instance_name }}</td>
            <td>
                <form method="post" action="{% url 'toggle_instance' instance.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="button is-primary">
                        {% if instance.active %}🟢 Activa{% else %}🔴 Inactiva{% endif %}
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <hr>
    <h2>Agregar Instancia</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button is-primary">Guardar</button>
    </form>
{% endblock %}
